---
import type {AppRouter} from "@/pages/api/trpc/[trpc]"
import { createTRPCClient } from '@trpc/client';

// TODO create integration to have a wrapper around this client
// so that the config lives in the astro.config.mjs
const client = createTRPCClient<AppRouter>({
  url: 'http://localhost:3000/api/trpc',
});

const data = await client.query("hey", {text: "my friend"});
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>Astro</title>

<body>
  <p> {data.greeting} </p>
</body>
