---
import { client } from '@/lib/trpcClient';

// TODO create integration to have a wrapper around this client
// so that the config lives in the astro.config.mjs
const data = await client.query("greeting", {text: "thor"});
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>astro-trpc demo</title>

<body>
  <p> {data.greeting} </p>
</body>
